<p>Email envoyée via le formulaire de contact</p>
<br>
<p>Nom: {{contact.name}}</p>
<p>Prénom: {{contact.name}}</p>
<p>Email: {{contact.name}}</p>
<br>
<p>Objet: {{contact.object}}</p>
<br>
<p>{{contact.message}}</p>
